<%= render 'shared/navbar' %>
<%= render 'shared/navbar' %>
<div class="graficos  mt-5 pt-5">
	<% if @station.data_type == 'buoy' %>
		<% data_type = 'boia' %>
	<% elsif @station.data_type == 'meteorological_station' %>
		<% data_type = 'estação meteorológica' %>
	<% elsif @station.data_type == 'visual' %>
		<% data_type = 'observação visual' %>
	<% elsif @station.data_type == 'tide' %>
		<% data_type = 'estação maregráfica' %>
	<% elsif @station.data_type == 'cleaning' %>
		<% data_type = 'balneabilidade' %>
	<% end %>
	<p class='m-0 p-0'>TIPO: <%= data_type.upcase%></p>
	<p class='m-0 p-0'>INSTITUIÇÃO: <%= @station.institution.upcase%></p>
	<p class='m-0 p-0'> POSIÇÃO: LAT <%= @station.lat.round(4)%>, LON <%= @station.lon.round(4)%></p> 
	<div id="plotdata"
	data-station="<%= @station.to_json %>"
	data-oceanobs-api-key="<%= ENV['OCEANOBS_API_KEY'] %>"
	>
		<div id="wspd-plot" class='graph'></div>
		<div id="gust-plot" class='graph'></div>
		<div id="wdir-plot" class='graph'></div>
		<div id="wdirg-plot" class='graph'></div>

		<div id="swvht-plot" class='graph'></div>
		<div id="mxwvht-plot" class='graph'></div>
		<div id="swvht_swell-plot" class='graph'></div>
		<div id="swvht_sea-plot" class='graph'></div>
		<div id="wvdir-plot" class='graph'></div>
		<div id="wvdirg-plot" class='graph'></div>
		<div id="wvdir_swell-plot" class='graph'></div>
		<div id="wvdir_swellg-plot" class='graph'></div>
		<div id="wvdir_sea-plot" class='graph'></div>
		<div id="wvdir_seag-plot" class='graph'></div>
		<div id="tp-plot" class='graph'></div>
		<div id="wvspread-plot" class='graph'></div>

		<div id="sst-plot" class='graph'></div>
		<div id="atmp-plot" class='graph'></div>
		<div id="pres-plot" class='graph'></div>
		<div id="rh-plot" class='graph'></div>
		<div id="dewpt-plot" class='graph'></div>
		<div id="meteorological_tide-plot" class='graph'></div>
		<div id="visibility-plot" class='graph'></div>
	</div>
</div>
