<%= render 'shared/navbar' %>
<%= render 'shared/loader' %>
<div class="graficos  mt-5 pt-5">
	<% if @language == 'pt-br' %>
		<% if @station.data_type == 'buoy' %>
			<% data_type = 'boia' %>
		<% elsif @station.data_type == 'meteorological_station' %>
			<% data_type = 'estação meteorológica' %>
		<% elsif @station.data_type == 'visual' %>
			<% data_type = 'observação visual' %>
		<% elsif @station.data_type == 'tide' %>
			<% data_type = 'estação maregráfica' %>
		<% elsif @station.data_type == 'cleaning' %>
			<% data_type = 'balneabilidade' %>
		<% end %>
		<% @type_name = "TIPO" %>
		<% @institution_name =  "INSTITUIÇÃO" %>
		<% @position_name = "POSIÇÃO" %>
	<% elsif @language == 'en' %>
		<% if @station.data_type == 'buoy' %>
			<% data_type = 'buoy' %>
		<% elsif @station.data_type == 'meteorological_station' %>
			<% data_type = 'weather station' %>
		<% elsif @station.data_type == 'visual' %>
			<% data_type = 'visual obervation' %>
		<% elsif @station.data_type == 'tide' %>
			<% data_type = 'tide gauge' %>
		<% elsif @station.data_type == 'cleaning' %>
			<% data_type = 'cleaning' %>
		<% end %>
		<% @type_name = "TYPE" %>
		<% @institution_name =  "INSTITUTION" %>
		<% @position_name = "POSITION" %>
	<% end %>
	<div class='text-center'>
		<p class='m-0 p-0'><strong><%= @type_name.upcase%>:</strong> <%= data_type.upcase%></p>
		<p class='m-0 p-0'><strong><%= @institution_name.upcase%>:</strong> <%= @station.institution.upcase%></p>
		<p class='m-0 p-0'><strong><%= @position_name.upcase%>:</strong> LAT <%= @station.lat.round(4)%>, LON <%= @station.lon.round(4)%></p> 
	</div>
	<div id="plotdata"
	data-station="<%= @station.to_json %>"
	data-language="<%= @language %>"
	data-oceanobs-api-key="<%= ENV['OCEANOBS_API_KEY'] %>"
	>
		<div id="wspd-plot" class='graph'></div>
		<div id="gust-plot" class='graph'></div>
		<div id="wdir-plot" class='graph'></div>
		<div id="wdirg-plot" class='graph'></div>

		<div id="swvht-plot" class='graph'></div>
		<div id="mxwvht-plot" class='graph'></div>
		<div id="swvht_swell-plot" class='graph'></div>
		<div id="swvht_sea-plot" class='graph'></div>
		<div id="wvdir-plot" class='graph'></div>
		<div id="wvdirg-plot" class='graph'></div>
		<div id="wvdir_swell-plot" class='graph'></div>
		<div id="wvdir_swellg-plot" class='graph'></div>
		<div id="wvdir_sea-plot" class='graph'></div>
		<div id="wvdir_seag-plot" class='graph'></div>
		<div id="tp-plot" class='graph'></div>
		<div id="wvspread-plot" class='graph'></div>

		<div id="sst-plot" class='graph'></div>
		<div id="atmp-plot" class='graph'></div>
		<div id="pres-plot" class='graph'></div>
		<div id="rh-plot" class='graph'></div>
		<div id="dewpt-plot" class='graph'></div>
		<div id="meteorological_tide-plot" class='graph'></div>
		<div id="visibility-plot" class='graph'></div>
	</div>
</div>
