<div id='map'>
  <div id="mapid"> </div>
</div>

<%= render 'shared/loader' %>

<% if @language == 'pt-br' %>
  <% @fuso = 'Fuso UTC' %>
  <% @date_format = "%d-%m" %>
  <% @station1 = "Estações Fixas"  %>
  <% @station2 ="Satélites & Derivadores"%>
  <% @data_type1 = "Ondas" %>
  <% @data_type2 = "Vento" %>
  <% @data_type3 = "Temp. da Água" %>
  <% @data_type4 = "Temp. do Ar" %>
  <% @data_type5 = "Visibilidade" %>
  <% @data_type6 = "Maré Meteorológica" %>
  <% @data_type7 = "Maré e Lua" %>
  <% @data_type8 = "Pressão" %>
  <% @data_type9 = "Avisos" %>
  <% @show_pop = "Informações sobre o Sistema" %>
  <% @show_layer = "Selecionar Camadas" %>
  <% @exit = "Sair" %>
  <% @login = "Logar" %>
  <% @height = "Altura" %>
  <% @direction = "Direção" %>
  <% @veloc = "Velocidade" %>
  <% @synoptic = "Carta Sinótica" %>
<% elsif @language == 'en' %>
  <% @fuso = 'GMT' %>
  <% @date_format = "%m-%d" %>
  <% @station1 = "Fixed Stations"  %>
  <% @station2 ="Satellites & Drifters"%>
  <% @data_type1 = "Waves" %>
  <% @data_type2 = "Wind" %>
  <% @data_type3 = "Water Temp." %>
  <% @data_type4 = "Air Temp." %>
  <% @data_type5 = "Visibility" %>
  <% @data_type6 = "Meteorological Tide" %>
  <% @data_type7 = "Tide and Moon" %>
  <% @data_type8 = "Pressure" %>
  <% @data_type9 = "Warnings" %>
  <% @show_pop = "System Information" %>
  <% @show_layer = "Select Layers" %>
  <% @exit = "Log out" %>
  <% @login = "Sign in" %>
  <% @height = "Height" %>
  <% @direction = "Direction" %>
  <% @veloc = "Velocity" %> 
  <% @synoptic = "Synoptic Chart" %>
<% end %>
<div>
  <div class="footer">
    <div class="range-slider">
      <span id="rs-bullet" class="rs-label" title='<%=@fuso%>'></span>
      <input id="rs-range-line" class="rs-range" type="range" value="96" min="0" max="96" step='6'>
      <div class="d-flex justify-content-between mt-0 pt-2 pb-0 mb-0 w-100 range-hour">
        <% days = [4,3,2,1,0] %>
        <% hours = [0, 6, 12, 18] %>
        <% days_hour = [0, 0, 0, 0, 0, 0] %>
        <% time_now = Time.now.utc %>
        <% days.each_with_index do |day, idx| %>
          <% hours.each do |hour| %>
              <% if day == 4 %>
                <% time_rest = time_now.hour%6 %>
                <% if hour >= time_now.hour - time_rest  %>
                  <% days_hour[idx+1] += 1 %>
                  <p title='<%=@fuso%>'><%= "%02d" % hour %> </p>
                <% end %>
              <% elsif day == 0 %>
                <% if hour <= time_now.hour.to_i  %>
                  <p title='<%=@fuso%>'><%= "%02d" % hour %> </p>
                <% end %>
              <% else %>
                <% days_hour[idx+1] += 1 %>
                <p title='<%=@fuso%>'><%= "%02d" % hour %> </p>
              <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="d-flex justify-content-between mt-0 w-100 pt-0 range-day">
        <p style="left: <%=(days_hour[0]/21.0*100).round() %>%"><%= (Time.now.utc - (3600*24*4)).strftime(@date_format)%> </p>
        <p style="left: <%=((days_hour[0] + days_hour[1])/21.0*100).round() %>%"><%= (Time.now.utc - (3600*24*3)).strftime(@date_format)%> </p>
        <p style="left: <%=((days_hour[0] + days_hour[1] + days_hour[2])/21.0*100).round() %>%"><%= (Time.now.utc - (3600*24*2)).strftime(@date_format)%> </p>
        <p style="left: <%=((days_hour[0] + days_hour[1] + days_hour[2]  + days_hour[3])/21.0*100).round() %>%"><%= (Time.now.utc - (3600*24*1)).strftime(@date_format)%> </p>
        <p style="left: <%=((days_hour[0] + days_hour[1] + days_hour[2] + days_hour[3]  + days_hour[4])/21.0*100).round() %>%"><%= (Time.now.utc - (3600*24*0)).strftime(@date_format)%> </p>
      </div>
    </div>
  </div>
  <div class="sidenav d-flex">
    <div class='text-center sidenav-card'>
      <p class='p-1 active-station type-station' id="stations" title='<%=@station1%>'><i class="fas fa-anchor"></i></i></p>
      <p class='p-1 type-station' id="no-stations"><i class="fas fa-globe-americas" title='<%=@station2%>'></i></p>
      <br>
      <p class='p-1 active-data data-station' id="wave" title='<%=@data_type1%>'><i class="fas fa-water"></i></p>
      <p class='p-1 data-station' id="wind" title='<%=@data_type2%>'><i class="fas fa-wind"></i></p>
      <p class='p-1 data-station' id="water-temp" title='<%=@data_type3%>'><i class="fas fa-thermometer-half"></i></p>
      <p class='p-1 data-station' id="air-temp" title='<%=@data_type4%>'><i class="fas fa-temperature-low"></i></p>
      <p class='p-1 data-station' id="fog" title='<%=@data_type5%>'><i class="fas fa-smog"></i></p>
      <p class='p-1 data-station' id="pressure" title='<%=@data_type8%>'><i class="fas fa-weight"></i></i></p>
      <p class='p-1 data-station' id="tide" title='<%=@data_type6%>'><i class="fas fa-ship"></i></p>
      <p class='p-1 data-station' id="weather-warning" title='<%=@data_type9%>'><i class="fab fa-weebly"></i></p>
      <p class='p-1 data-station' id="moon" title='<%=@data_type7%>'><i class="fas fa-moon"></i></p>
      <p class='inactive-tab' id="info" title='Informações sobre os dados'><i class="fas fa-info-circle"></i></p>
    </div>
    <div class=''>
      <div class="name-card">
        <p class='p-1 pt-2 stations' id='stations1' title='<%=@station1%>'><%=@station1%></i></i></p>
      </div>
      <div class="name-card">
        <p class='p-1  pt-2 stations'  id='no-stations1' title='<%=@station2%>'><%=@station2%></p>
      </div>
      <br>

      <div class="name-card">
        <p class='p-1 stations-data' id='wave1' title='<%=@data_type1%>'><%=@data_type1%></p>
      </div>
      <div class="name-card">
        <p class='p-1  stations-data' id='wind1' title='<%=@data_type2%>'><%=@data_type2%></p>
      </div>
      <div class="name-card">
        <p class='p-1 stations-data' id='water-temp1' title='<%=@data_type3%>'><%=@data_type3%></p>
      </div>
      <div class="name-card">
        <p class='p-1 stations-data' id='air-temp1' title='<%=@data_type4%>'><%=@data_type4%></p>
      </div>
      <div class="name-card">
        <p class='p-1 stations-data' id='fog1' title='<%=@data_type5%>'><%=@data_type5%></p>
      </div>
      <div class="name-card">
        <p class='p-1 stations-data' id='pressure1' title='<%=@data_type8%>'><%=@data_type8%></p>
      </div>
      <div class="name-card">
        <p class='p-1 stations-data' id='tide1' title='<%=@data_type6%>'><%=@data_type6%></p>
      </div>
      <div class="name-card">
        <p class='p-1 stations-data' id='weather-warning1' title='<%=@data_type9%>'><%=@data_type9%></p>
      </div>
      <div class="name-card">
        <p class='p-1 stations-data' id='moon1' title='<%=@data_type7%>'><%=@data_type7%></p>
      </div>
    </div>
  </div>
  <div class='logo'>
    <div class='info-text d-flex'>
      <div class="dropdown pr-3">
        <% if @language == 'pt-br' %>
          <div class="dropbtn" title= 'Trocar idioma'><i class="fas fa-language"></i></div>
          <div class="dropdown-content">
            <%= form_tag root_path, method: :get do %>
              <%= text_field_tag :language, 'en', class: "inactive-tab"  %>
              <%= image_submit_tag "us_flag.png", class: "flag p-0", title: "English Version" %>
            <% end %>
          </div>
        <% elsif @language == 'en' %>
          <div class="dropbtn" title= 'Change Language'><i class="fas fa-language"></i></div>
          <div class="dropdown-content">
            <%= form_tag root_path, method: :get do %>
              <%= text_field_tag :language, 'pt-br', class: "inactive-tab"  %>
              <%= image_submit_tag "brazil_flag.png", class: "flag p-0", title: "Versão em Português" %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div id='showPop' class=''>
        <i class="fas fa-info-circle pr-3"  title='<%=@show_pop%>'></i>
      </div>
      <div id='showLayer' class=''>
        <i class="fas fa-layer-group pr-3" title='<%=@show_layer%>'></i>  
      </div>
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <%= link_to admin_path, class: "info-text", title: 'Admin' do %>
            <i class="fas fa-user-shield pr-3 "></i>
          <% end %>
        <% end %>
        <%= link_to destroy_user_session_path, method: :delete, class: "info-text", title: @exit do %>
          <i class="fas fa-sign-out-alt"></i>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path, class: "info-text", title: @login do %>
          <i class="fas fa-sign-in-alt"></i>
        <% end %>
      <% end %>        
    </div>
    <div class='layer-text inactive-tab' id='synoptic-radio'>
      <div class='p-0'>
         <p id="synoptic-chart" class="btn-syno btn btn-yellow-small font-weight-bold w-100"><%= @synoptic %></p>
      </div>
    </div>
    <div class='layer-text inactive-tab' id='wave-radio'>
      <div class='p-0'>
        <p id="heigth-wave" class="btn-wave btn btn-yellow-small font-weight-bold w-100 active"><%= @height %></p>
      </div>
      <div class='p-0'>
        <p id="direction-wave" class="btn-wave btn btn-yellow-small font-weight-bold w-100"><%=@direction%></p>
      </div>
    </div>
    <div class='layer-text inactive-tab' id='wind-radio'>
      <div class='p-0'>
        <p id="velocity-wind" class="btn-wind btn btn-yellow-small font-weight-bold w-100 active"><%=@veloc%></p>
      </div>
      <div class='p-0'>
        <p id="direction-wind" class="btn-wind btn btn-yellow-small font-weight-bold w-100"><%=@direction%></p>
      </div>
    </div>
  </div>
  <div class='color-scale' id='color-scale'>
    <p class='scale-name p-0 m-0'></p>
    <div class='scale-type p-0 m-0 d-flex'></div>
    <div class='scale-values d-flex p-0 m-0'>
      <p class='scale-start'></p>
      <p class='scale-middle'></p>
      <p class='scale-end'></p>
    </div>
  </div>
  <div class="full-screen inactive-tab flex-container-center" id='first-full-screen'>
    <p><i class="fas fa-times-circle"></i></p>
    <% if @language == 'pt-br' %>
      <h2 class='text-center text-info'><strong>OCEANUM.LIVE</strong></h2>
      <p class='text-center'><strong>Dados observacionais em tempo real:</strong></p>
      <p class='mb-0 ml-0 mr-0'>Boias, Estações meteorológicas,</p>
      <p class='m-0'>Aeroportos, Observações visuais</p>
      <p class='m-0'>Estações maregráficas,</p>
      <p class='m-0'>Altimetria por satélite,</p>
      <p class='m-0'>Escaterômetros, Boias de Deriva,</p>
      <p class='m-0'>Gliders, Flutuadores ARGO,</p>
      <p class='m-0'>Mensagens SHIP</p>
      <h2 class='mt-3 mb-0 text-center font-weight-bold' id='counter'><%=@total_stations[:total]%></h2>
      <p class='mb-3 mt-0 text-center'>ESTAÇÕES NOS ÚLTIMOS 5 DIAS</p>
      <p class='m-0 text-center'><strong>ATENÇÃO: DADOS EM FUSO UTC</strong></p>
      <h4 class='mt-2 text-center'>CÓDIGOS DISPONÍVEIS EM:</h3>
    <% elsif @language == 'en' %>
      <h2 class='text-center text-info'><strong>OCEANUM.LIVE</strong></h2>
      <p class='text-center'><strong>Real-time observational data:</strong></p>
      <p class='mb-0 ml-0 mr-0'>Buoys, Weather stations,</p>
      <p class='m-0'>Airports, Visual observations,</p>
      <p class='m-0'>Tide gauges, Satellite altimetry,</p>
      <p class='m-0'>Scatterometers, Drifters,</p>
      <p class='m-0'>Gliders, ARGO Floats,</p>
      <p class='m-0'>SHIP messages</p>
      <h2 class='mt-3 mb-0 text-center font-weight-bold' id='counter'><%=@total_stations[:total]%></h2>
      <p class='mb-3 mt-0 text-center'>STATIONS IN THE LAST 5 DAYS</p>
      <p class='m-0 text-center'><strong>ATTENTION: DATA IN GMT</strong></p>
      <h4 class='mt-2 text-center'>CODES AVAILABLE AT:</h3>
    <% end %>
    <div class="row  justify-content-center ">
      <div class='col-4 card-git text-center  justify-content-center'>
        <a href="https://github.com/soutobias/oceanoobsbrasil" target="_blank" class='text-center'>
          <i class="fab fa-github m-0  p-0 text-center"></i>
          <p class='m-0  p-0 text-center'>DATA</p>
        </a>
      </div>
      <div class='col-4 card-git text-center justify-content-center'>
        <a href="https://github.com/soutobias/remobs_api" target="_blank" class='text-center'>
          <i class="fab fa-github m-0 p-0 text-center"></i>
          <p class='m-0  p-0 text-center'>API</p>
        </a>
      </div>
      <div class='col-4 card-git text-center'>
        <a href="https://github.com/soutobias/oceanoobsbrasil_web" target="_blank" class='text-center'>
          <i class="fab fa-github m-0  p-0 text-center"></i>
          <p class='m-0  p-0 text-center'>WEB</p>
        </a>
      </div>
    </div>
  </div>
  <div class="full-screen inactive-tab flex-container-center" id='moon-full-screen'>
    <p><i class="fas fa-times-circle"></i></p>
    <% if @language == 'pt-br' %>
      <h3>MARÉ E FASES DA LUA</h3>
      <% @moons.each do |moon| %>
        <% if moon.moon == 'cheia' %>
          <p><%= image_tag("cheia.png", class: "nav-img p-0")%> <%= moon.date_time.strftime('%d/%m/%Y') %>: <%= moon.tide.upcase %></p>
        <% elsif moon.moon == 'crescente' %>
          <p><%= image_tag("crescente.png", class: "nav-img p-0")%> <%= moon.date_time.strftime('%d/%m/%Y') %>: <%= moon.tide.upcase %></p>
        <% elsif moon.moon == 'minguante' %>
          <p><%= image_tag("minguante.png", class: "nav-img p-0")%> <%= moon.date_time.strftime('%d/%m/%Y') %>: <%= moon.tide.upcase %></p>
        <% else moon.moon == 'nova' %>
          <p><%= image_tag("nova.png", class: "nav-img p-0")%> <%= moon.date_time.strftime('%d/%m/%Y') %>: <%= moon.tide.upcase %></p>
        <% end %>
      <% end %>
    <% elsif @language == 'en' %>
      <h3>TIDE AND MOON PHASES</h3>
      <% @moons.each do |moon| %>
        <% if moon.moon == 'cheia' %>
          <p><%= image_tag("cheia.png", class: "nav-img p-0")%> <%= moon.date_time.strftime('%m/%d/%Y') %>: SPRING TIDE</p>
        <% elsif moon.moon == 'crescente' %>
          <p><%= image_tag("crescente.png", class: "nav-img p-0")%> <%= moon.date_time.strftime('%m/%d/%Y') %>: NEAP TIDE</p>
        <% elsif moon.moon == 'minguante' %>
          <p><%= image_tag("minguante.png", class: "nav-img p-0")%> <%= moon.date_time.strftime('%m/%d/%Y') %>: NEAP TIDE</p>
        <% else moon.moon == 'nova' %>
          <p><%= image_tag("nova.png", class: "nav-img p-0")%> <%= moon.date_time.strftime('%m/%d/%Y') %>: SPRING TIDE</p>
        <% end %>
      <% end %>
    <% end %>
  </div>


  <div class="full-screen inactive-tab flex-container-center" id='full-screen'>
  </div>

</div>
<% if user_signed_in? %>
  <div id="data"
    data-admin="1"
    data-language="<%= @language %>"
    data-total="<%= @total_stations[:total] %>"
    data-cloudn="<%= ENV['CLOUDINARY_NAME'] %>"
    data-clouds="<%= ENV['CLOUDINARY_SECRET'] %>"
    data-clouda="<%= ENV['CLOUDINARY_KEY'] %>"
    data-oceanobs-api-key="<%= ENV['OCEANOBS_API_KEY'] %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
<% else %>
  <div id="data"
    data-admin="0"
    data-language="<%= @language %>"
    data-total="<%= @total_stations[:total] %>"
    data-cloudn="<%= ENV['CLOUDINARY_NAME'] %>"
    data-clouds="<%= ENV['CLOUDINARY_SECRET'] %>"
    data-clouda="<%= ENV['CLOUDINARY_KEY'] %>"
    data-oceanobs-api-key="<%= ENV['OCEANOBS_API_KEY2'] %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
<% end %>

