<div id='map'>
  <div id="mapid"> </div>
</div>

<div class='all-center' id='loader'>
  <div class="lds-spinner">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
</div>
<div>
  <div class="d-flex">
    <div class="sidenav d-flex">
      <div class='text-center sidenav-card'>
        <p class='p-1 active-station type-station' id="stations" title='Estações Fixas'><i class="fas fa-anchor"></i></i></p>
        <p class='p-1 type-station' id="no-stations"><i class="fas fa-globe-americas" title='Satélites e Mensagens SHIP'></i></p>
        <br>
        <br>
        <p class='p-1 active-data data-station' id="wave" title='Dados de Ondas'><i class="fas fa-water"></i></p>
        <p class='p-1 data-station' id="wind" title='Dados de Vento'><i class="fas fa-wind"></i></p>
        <p class='p-1 data-station' id="water-temp" title='Dados de Temperatura da Água'><i class="fas fa-thermometer-half"></i></p>
        <p class='p-1 data-station' id="air-temp" title='Dados de Temperatura do Ar'><i class="fas fa-temperature-low"></i></p>
        <p class='p-1 data-station' id="fog" title='Dados de Visibilidade'><i class="fas fa-smog"></i></p>
        <p class='p-1 data-station' id="tide" title='Dados de Maré'><i class="fas fa-ship"></i></p>
        <p class='p-1' id="info" title='Informações sobre os dados'><i class="fas fa-info-circle"></i></i></p>
      </div>
      <div class=''>
        <div class="name-card">
          <p class='p-1 stations' id='stations1' title='Estações Fixas'>Estações Fixas</i></i></p>
        </div>
        <div class="name-card">
          <p class='p-1 stations'  id='no-stations1' title='Satélites e Mensagens SHIP'>Satélites & SHIP</p>
        </div>
        <br>
        <br>
        <div class="name-card">
          <p class='p-1 stations-data' id='wave1' title='Dados de Ondas'>Ondas</i></p>
        </div>
        <div class="name-card">
          <p class='p-1 stations-data' id='wind1' title='Dados de Vento'>Vento</i></p>
        </div>
        <div class="name-card">
          <p class='p-1 stations-data' id='water-temp1' title='Dados de Temperatura da Água'>Temperatura da Água</p>
        </div>
        <div class="name-card">
          <p class='p-1 stations-data' id='air-temp1' title='Dados de Temperatura do Ar'>Temperatura do Ar</p>
        </div>
        <div class="name-card">
          <p class='p-1 stations-data' id='fog1' title='Dados de Visibilidade'>Visibilidade</p>
        </div>
        <div class="name-card">
          <p class='p-1 stations-data' id='tide1' title='Dados de Maré'>Maré Meteorológica</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="range-slider">
      <span id="rs-bullet" class="rs-label"></span>
      <input id="rs-range-line" class="rs-range" type="range" value="96" min="0" max="96" step='6'>
      <div class="d-flex justify-content-between mt-0 pt-2 pb-0 mb-0 w-100 range-hour">
        <% days = [4,3,2,1,0] %>
        <% hours = [0, 6, 12, 18] %>
        <% days_hour = [0, 0, 0, 0, 0, 0] %>
        <% time_now = Time.now.utc %>
        <% days.each_with_index do |day, idx| %>
          <% hours.each do |hour| %>
              <% if day == 4 %>
                <% time_rest = time_now.hour%6 %>
                <% if hour >= time_now.hour - time_rest  %>
                  <% days_hour[idx+1] += 1 %>
                  <p><%= "%02d" % hour %> </p>
                <% end %>
              <% elsif day == 0 %>
                <% if hour <= time_now.hour.to_i  %>
                  <p><%= "%02d" % hour %> </p>
                <% end %>
              <% else %>
                <% days_hour[idx+1] += 1 %>
                <p><%= "%02d" % hour %> </p>
              <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="d-flex justify-content-between mt-0 w-100 pt-0 range-day">
        <p style="left: <%=(days_hour[0]/21.0*100).round() %>%"><%= (Time.now.utc - (3600*24*4)).strftime("%d-%m-%y")%> </p>
        <p style="left: <%=((days_hour[0] + days_hour[1])/21.0*100).round() %>%"><%= (Time.now.utc - (3600*24*3)).strftime("%d-%m-%y")%> </p>
        <p style="left: <%=((days_hour[0] + days_hour[1] + days_hour[2])/21.0*100).round() %>%"><%= (Time.now.utc - (3600*24*2)).strftime("%d-%m-%y")%> </p>
        <p style="left: <%=((days_hour[0] + days_hour[1] + days_hour[2]  + days_hour[3])/21.0*100).round() %>%"><%= (Time.now.utc - (3600*24*1)).strftime("%d-%m-%y")%> </p>
        <p style="left: <%=((days_hour[0] + days_hour[1] + days_hour[2] + days_hour[3]  + days_hour[4])/21.0*100).round() %>%"><%= (Time.now.utc - (3600*24*0)).strftime("%d-%m-%y")%> </p>
      </div>
    </div>
  </div>
  <div>
    <div class='logo info-text d-flex'>
      <div id='showPop'>
        <i class="fas fa-info-circle pr-2"></i>
      </div>
      <%= link_to destroy_user_session_path, method: :delete, class: "info-text" do%>
        <i class="fas fa-sign-out-alt" id='showMapa'></i>
      <% end %>
    </div>
  </div>
  <div class="full-screen inactive-tab flex-container-center" id='first-full-screen'>
    <p><i class="fas fa-times-circle"></i></p>
    <h3>DIVISÃO DE OCEANOGRAFIA OPERACIONAL</h3>
    <p><strong>Dados observacionais em tempo real para a METAREAV provenientes das seguintes fontes:</strong></p>
    <p>Boias</p>
    <p>Estações meteorológicas</p>
    <p>Aeroportos</p>
    <p>Observações visuais</p>
    <p>Estações maregráficas</p>
    <p>Altimetria por satélite</p>
    <p>Escaterômetros</p>
  </div>
  <div class="full-screen inactive-tab flex-container-center" id='full-screen'>
  </div>

</div>
<div id="data"
  data-oceanobs-api-key="<%= ENV['OCEANOBS_API_KEY'] %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
