<!DOCTYPE html>
<html>
  <head>
    <title>OCEANO.LIVE</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('logo.png') %>


    <meta name="description" content="Dados meteoceanográficos em tempo real da costa brasileira">
    <meta property="og:title" content="Oceano.live" />
    <meta property="og:url" content="http://www.oceano.live/" />
    <meta property="og:description" content="Dados meteoceanográficos em tempo real da costa brasileira">

    <meta property="og:image" content="<%= image_url ('meta_image2.png') %>">

    <meta property="og:type" content="website" />
    <meta property="og:locale" content="pt_BR">


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
       integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
       crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
       integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
       crossorigin=""></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-57R07T23HD"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
      
        gtag('config', 'G-57R07T23HD');
    </script>
    </head>
  <body>
    <%= yield %>
  </body>
</html>
